<!-- BEGIN: SUPPORT -->
<div class=" jumbotron">
	<div class="container" style="background-color: white"><br>
		<p>OCEANGATE CÓ THỂ GIÚP GÌ CHO BẠN?</p>
		<div class="col-sm-12">
			<a href=""><div class="col-sm-offset-1 col-sm-3" style="border: 1px solid black; height: 220px">
				<p style="font-size: 16px;">
					<i class='fas fa-truck-moving' style='font-size:24px;'></i>
				TÔI MUỐN BIẾT ĐƠN HÀNG CỦA TÔI HIỆN ĐANG Ở ĐÂU?</p><hr>
				<span style="color: black;font-size: 18px">Cập nhật trạng thái đơn hàng với công cụ kiểm tra đơn hàng trực tuyến</span>
			</div></a>
			<a href=""><div class="col-sm-4" style="border: 1px solid black; margin-left: 10px;height: 220px">
				<P style="font-size: 16px; ">
				<i class="fa fa-gift" style="font-size:24px"></i>TÔI MUỐN ĐỔI TRẢ SẢN PHẨM</P><br><hr>
				<span style="color: black;font-size: 18px">Sử dụng phiếu đăng kí đổi trả trực tuyến để bắt đầu đổi trả sản phẩm</span>
			</div></a>
			<a href=""><div class="col-sm-3" style="border: 1px solid black; margin-left: 10px;height: 220px">
				<P style="font-size: 16px; ">
				<i class="fa fa-dropbox" style="font-size:24px"></i>TÔI MUỐN HỦY ĐƠN HÀNG</P><br><hr>
				<span style="color: black;font-size: 18px">Sử dụng phiếu đăng kí hủy đơn hàng trực tuyến để bắt đầu hủy đơn hàng</span>
			</div></a>

		</div>
		<br><br>
			<p>Tôi có câu hỏi khác:<br>

				<a href=""><span style="font-size: 14px">TRÌNH DUYỆT TRUNG TÂM HỖ TRỢ <i class="fa fa-angle-right"></i></span></a>
			</p>
			
			<br>
	</div><br>
	<div class="container" style="background-color: white"><br>
		<p>LIÊN HỆ VỚI OCEANGATE</p>
		<div class="col-sm-4" style="text-align: center;" >
			<img src="img/aboutUs/icon mess.png">
		</div>
		<div class="col-sm-8">
			<span style="font-size: 18px">Bạn đang cần hỗ trợ, cần giải pháp cho vấn đề của mình, hay cần đóng góp ý kiến cho Bộ Phận Chăn Sóc Khách Hàng? Hãy liên hệ với OceanGate qua tổng đài hotline chăm sóc khách hàng hoặc dịch vụ Chat trực tuyến miễn phí. Chúng tôi sẽ cung cấp các giải pháp để xử lí vấn đề nhanh nhất có thể! </span><br><br>
			<span style="font-size: 18px">Hotline CSKH 09788888888 (Từ 9h - 18h các ngày trong tuần, 1000đ/phút)</span>
		</div>
	</div>
</div>




<!-- END: SUPPORT -->