<!-- BEGIN: ADD -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
       <a href="index.html">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Danh Muc</li>
    <li class="breadcrumb-item active">Them Moi</li>
 </ol>
 <form method="POST" action="">
    <div class="form-group">
      <label>Brand</label>
      <input type="text" class="form-control" placeholder="Enter new categories" name="name">
      <span class="text-danger">{erro}</span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <!-- END: ADD -->