<!-- BEGIN: EDITTEMP -->
<ol class="breadcrumb">
        <li class="breadcrumb-item">
           <a href="index.html">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Danh Muc</li>
        <li class="breadcrumb-item active">Edit</li>
     </ol>
     <form method="POST" action="">
        <div class="form-group">
            <label>Type</label>
            <input type="text" class="form-control" placeholder="Enter type of product" name="type_pro">
            <span class="text-danger">{erro_type}</span>
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
<!-- END: EDITTEMP -->