 <!-- BEGIN: LOGIN -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{baseUrl}css/csslogin.css" type="text/css">
    <title>Login</title>
</head>
<body>
    <form action="" method="post" class="box">
        <h1>Login</h1>
        <input type="text" name="txtEmail" placeholder="Email">
        <input type="password" name="txtPassword" placeholder="Password">
        <input type="submit" name="" value="Sign in">
        <input type="checkbox" name="ckRemember" style="margin-right: 5px"><a class="word">Remember me</a>
        <a href="forgot_password.php" id="forgot_pswd">Forgot password?</a>
    </form>
</body>
</html>
 <!-- END: LOGIN -->