<!-- BEGIN: ABOUTUS -->
 
<div class=" jumbotron">
    <div class="container" style="background-color: white">
    	<br>
        <p ><h2 style="text-align: center;">GIỚI THIỆU VỀ OCEANGATE</h2></p>
        <div style="text-indent: 100px;" >
        	<p>Công ty Cổ phần Máy tính Oceangate* là một trong những doanh nghiệp tiên phong trong lĩnh vực Công nghệ thông tin. *Gọi tắt là “OCG” hoặc “OCEANGATE”. Oceangate luôn phấn đấu, nỗ lực không ngừng để đem lại cho người tiêu dùng những sản phẩm công nghệ tiên tiến, và đã trở thành một trong những thương hiệu đáng tin cậy và được yêu thích nhất. Oceangate luôn cam kết cung cấp hàng chính hãng từ các nhà sản xuất, chất lượng luôn được đảm bảo và mức giá phù hợp trong môi trường cạnh tranh.
        	</p>
        	<br>
        
	        <div style="text-align: center;">
	        	<iframe width="650" height="350" src="https://www.youtube.com/embed/I-VEiZqVohQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen ></iframe>
	        </div>
	        <br>
    	</div>
        
       
        <p><h3>1.LĨNH VỰC HOẠT ĐỘNG</h3></p>
        <p style="text-indent: 100px;">Công ty Cổ Phần Máy tính Oceangate hoạt động trong lĩnh vực tin học và điện tử viễn thông. Oceangate còn là địa chỉ tin cậy đối với khách hàng có nhu cầu bảo hành và bảo trì cho các loại máy tính để bàn, máy tính xách tay, máy in, UPS (thiết bị điện), và các thiết bị ngoại vi,… Với các loại hình dịch vụ bảo hành và bảo trì tận nơi, bảy ngày trong tuần, chúng tôi bảo đảm tối ưu hóa năng lực các máy móc, thiết bị của khách hàng.</p>
        <br>
        <p><h3>2.XÃ HỘI CÔNG NHẬN</h3></p>
        <div style="display: flex;">
        	<div class="col-sm-3" style="text-align: center;">
        		<img src="img/aboutUs/cup.png" width="100" height="200"><br><br>
        		<span><strong>Cup 1</strong></span>
        	</div>
        	<div class="col-sm-3"style="text-align: center;">
        		<img src="img/aboutUs/cup2.png" width="100" height="200"><br><br>
        		<span><strong>Cup 2</strong></span>
        	</div>
        	<div class="col-sm-3" style="text-align: center;">
        		<img src="img/aboutUs/cup3.png" width="100" height="200"><br><br>
        		<span><strong>Cup 3</strong></span>
        	</div>
        	<div class="col-sm-3" style="text-align: center;">
        		<img src="img/aboutUs/cup4.png" width="100" height="200"><br><br>
        		<span><strong>Cup 4</strong></span>
        	</div>
        	
        </div><br>
        <p><h3>3.NGUỒN NHÂN LỰC</h3></p>
        <p style="text-indent: 100px;">Một tổ chức phát triển bền vững luôn cần có một đội ngũ nhân lực tốt về chất và lượng. Chính vì quan niệm đó mà đội ngũ nhân lực của Oceangate luôn được chọn lọc kỹ càng trước khi trải qua các quá trình đào tạo.
		Chúng tôi cập nhật thường xuyên những kiến thức sản phẩm mới nhất, không ngừng nâng cao trình độ chuyên môn kỹ thuật và tác phong giao tiếp với khách hàng luôn được chú trọng. Chúng tôi xem khả năng làm hài lòng khách hàng là thước đo thành công của chính mình.</p>
        <br>
        <p><h3>4.ĐỐI TÁC</h3></p>

        <div class="col-sm-12">
		<!-- owl-carousel -->
		<div class="owl-carousel owl-theme" >
			
			<div  id="item" style="display: flex; background-color: #f1f1f1">				
				<div id="item11" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/Lazada.vn_Logo.png" width="100" height="100" >
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/logo-tiki.png" width="40" height="100">
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
							<img src="img/aboutUs/voucher-sendo.png" width="100" height="100">
					</a>
				</div>
				<div id="item1"class="col-sm-3"  >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/1280px-Taobao_Logo.svg.png" width="40" height="100">
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/Amazon logo.png" width="40" height="100">
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/logo-samsung.jpg" width="40" height="100">
					</a>
				</div>
			</div>
		
		<!-- item2 -->
		<div  id="item" style="display: flex; background-color: #f1f1f1">				
				<div id="item11" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/Lazada.vn_Logo.png" width="100" height="100" >
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/logo-tiki.png" width="40" height="100">
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
							<img src="img/aboutUs/voucher-sendo.png" width="100" height="100">
					</a>
				</div>
				<div id="item1"class="col-sm-3"  >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/1280px-Taobao_Logo.svg.png" width="40" height="100">
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/Amazon logo.png" width="40" height="100">
					</a>
				</div>
				<div id="item1" class="col-sm-3" >
					<a href="detail pro/details.html">
						<img src="img/aboutUs/logo-samsung.jpg" width="40" height="100">
					</a>
				</div>
			</div>
		</div>	
		<br>    
	</div>

</div>
</div>

<script type="text/javascript">
	$('.owl-carousel').owlCarousel({
    // loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        3000:{
            items:2
        },
        6000:{
            items:3
        }
    }
})
</script>
<style>

    .owl-carousel .owl-nav button.owl-prev{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    /*font: inherit;*/
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 30px;height: 30px; 
    border-radius: 50%; 
    background-color: #f1f1f1;

   
}
  .owl-carousel .owl-nav button.owl-next{
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
   /* font: inherit;*/
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 0px;
    width: 30px;height: 30px; 
    border-radius: 50%; 
    background-color: #f1f1f1;
  }
</style> 
 	

  <!-- BEGIN: ABOUTUS -->